
//media querie tienda//
@media (max-width: 1000px) {
	.col {
		&:hover {
			box-shadow: none;
		}
		width: 100%;
	}
	.tienda-title{
		text-align: center;
		padding: 0.5rem;
	}
	.title-mujer{
		text-align: center;
		padding: 0.5rem;
	}
}

@media (max-width: 700px){
	.col img{
		text-align: center;
		justify-content: center;
	}
	h2{
		text-align: center;
		justify-content: center;
	}
}


//media q contacto//

@media (min-width: 700px) {
	.container-form {
		padding: 0 40px;
	}
	.contenido-form {
		display: grid;
		grid-template-columns: 2fr 1fr;
		>* {
			padding: 20px;
		}
	}
	.info-form {
		h3 {
			padding: 15px;
			text-align: left;
		}
		ul {
			padding: 15px;
			text-align: left;
		}
		p {
			padding: 15px;
			text-align: left;
		}
	}
}

//media q qs//
@media (max-width: 900px){
	.qs-img img{
		width: 100%;
		object-fit: cover;
	}
}

//media q footer//
@media (max-width: 900px){
.container-fluid-copy p{
	justify-content: center;
	align-items: center;
}
}